target/

.settings
.classpath
.project
.metadata
RemoteSystemsTempFiles

.idea

tomcat/work
tomcat/logs
webapps
.iml

*.iml
*.war

nb-configuration.xml
nbactions-*.xml

// Dart
packages/
pubspec.lock  // except for application packages
.project
.buildlog
*.js_
*.js.deps
*.js.map 
*.dart.js